<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>count</key>
	<string>3</string>
	<key>otherCardIDs</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
		<integer>3</integer>
	</array>
	<key>otherCards</key>
	<array>
		<dict>
			<key>imageName</key>
			<string>UUID_1.png</string>
			<key>mainInfo</key>
			<array>
				<dict>
					<key>key</key>
					<string>姓名</string>
					<key>value</key>
					<string>William-Weng</string>
				</dict>
				<dict>
					<key>key</key>
					<string>姓別</string>
					<key>value</key>
					<string>男</string>
				</dict>
			</array>
			<key>othersInfo</key>
			<array>
				<dict>
					<key>key</key>
					<string>三圍</string>
					<key>value</key>
					<string>95-60-70</string>
				</dict>
				<dict>
					<key>key</key>
					<string>綽號</string>
					<key>value</key>
					<string>小翁</string>
				</dict>
			</array>
			<key>sid</key>
			<string>1</string>
		</dict>
		<dict>
			<key>imageName</key>
			<string>UUID_2.png</string>
			<key>mainInfo</key>
			<array>
				<dict>
					<key>key</key>
					<string>姓名</string>
					<key>value</key>
					<string>William-Weng2</string>
				</dict>
				<dict>
					<key>key</key>
					<string>姓別</string>
					<key>value</key>
					<string>男</string>
				</dict>
			</array>
			<key>othersInfo</key>
			<array>
				<dict>
					<key>key</key>
					<string>三圍</string>
					<key>value</key>
					<string>95-60-70</string>
				</dict>
				<dict>
					<key>key</key>
					<string>綽號</string>
					<key>value</key>
					<string>小翁2</string>
				</dict>
			</array>
			<key>sid</key>
			<string>2</string>
		</dict>
	</array>
</dict>
</plist>
